.message {
  display: none;
  padding: 1em 0 2em 1.5em;
  width: 40em;
}

.message img {
  vertical-align: middle;
  max-height: 15em;
  max-width: 20em;
}

.message .message-delta {
  display: inline-block;
  margin-left: 1em;
  max-width: 2em;
  vertical-align: middle;
}

.message .message-content {
  display: inline-block;
  margin-left: 1em;
  max-width: 15em;
  vertical-align: middle;
}

.message-delta {
  text-align: center;
}

.message-delta .delta {
  display: block;
}

.message.long img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.message.long > div {
  display: block;
  margin-right: 1em;
  max-width: none;
}

.message.long .message-delta {
  float: left;
  margin: .8em;
}

#messages h3.ui-accordion-header span {
  color: #FFF;
}