.message {
  display: none;
  padding: 1em 0 2em 1.5em;
  width: 40em;
}

.message-delta .delta {
  display: block;
}

.message img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  vertical-align: middle;
}

.message > div {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
  max-width: none;
}

.message .message-delta {
  display: inline-block;
  float: left;
  margin: .8em;
  text-align: center;
  vertical-align: middle;
}

#messages h3.ui-accordion-header span {
  color: #FFF;
}
