.message {
  display: none;
  padding: 1em 0 2em 1.5em;
  width: 32em;
}

.message img {
  vertical-align: middle;
  width: 12em;
}

.message > div {
  display: inline-block;
  margin-left: 1em;
  max-width: 15em;
  vertical-align: middle;
}

.message .delta {
  display: block;
}

.message-delta {
  text-align: center;
}

.message.long img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.message.long > div {
  display: block;
  margin-right: 1em;
  max-width: none;
}

.message.long .message-delta {
  float: left;
  margin: 1em;
}