<div id="hire-girls">
  <% girls.forEach(function(girl) { %>
    <div class="ui-helper-clearfix no-cursor girl" name="<%= girl.name %>">
      <div class="column pct-20">
        <img src="<%= girl.image("base") %>" title="<%= girl._.description %>">
      </div>
      <div class="column pct-40 center">
        <h6><%= girl.name %></h6>
        <div><%- girl.S("obedience") %> | <%- girl.S("charisma") %> | <%- girl.S("intelligence") %> | <%- girl.S("constitution") %></div>
        <div><%- girl.S("soft libido") %> | <%- girl.S("hard libido") %> | <%- girl.S("anal libido") %> | <%- girl.S("fetish libido") %></div>
        <div><%- girl.S("soft experience") %> | <%- girl.S("hard experience") %> | <%- girl.S("anal experience") %> | <%- girl.S("fetish experience") %></div>
      </div>
      <div class="column pct-40">
        <div><label>Up Front:</label><strong class="money">$<%= girl.hirePrice() %></strong></div>
        <div><label>Daily:</label><strong class="money">$<%= girl.desiredPay() %></strong></div>
        <button class="hire" name="<%= girl.name %>">Hire</button>
      </div>
    </div>
  <% }) %>
</div>