h3 {
  margin: 0;
}

.no-cursor {
  cursor: default;
}

.happiness {
  color: #6AF;
  font-weight: 700;
}
.endurance {
  color: #A6F;
  font-weight: 700;
}
.obedience { color: #FF0; }
.charisma { color: #AF0; }
.intelligence { color: #4F0; }
.constitution { color: #6F6; }

.soft { color: #FAA; }
.hard { color: #F66; }
.anal { color: #D33; }
.fetish { color: #C04; }

.experience { font-style: italic; }

.delta {
  font-size: 0.7em;
}

.money.delta {
  font-weight: 300;
}

#girl-view label {
  margin-left: 2em;
}

#girl-view label {
  width: 6em;
}

#pay label {
  display: block;
  margin-top: 1em;
}

#pay input {
  width: 3em;
}

#pay .delta {
  margin-left: 1em;
}

#girl-view {
  width: 35em;
}

#girl-view .checkbox {
  position: relative;
}

#girl-view .checkbox input {
  display: none;
}

#girl-view .checkbox label.checked:before {
  color: #00FF00;
  content: "✓";
  font-size: 1.1em;
  left: 0;
  position: absolute;
}
#girl-view .checkbox label:before {
  color: #FF0000;
  content: "×";
  font-size: 1.1em;
  left: 0;
  position: absolute;
}
#girl-view .checkbox label {
  margin-left: 1.1em;
  font-weight: 700;
  width: 5em;
}

#hire-girls label {
  width: 4em;
}

#hire-girls button {
  display: block;
  margin: 1em auto;
}

#girl-view button {
  margin: .5em;
}
#girl-view .ui-tabs-nav {
  border: none;
  border-radius: 0;
}

#girl-view .ui-tabs-nav a {
  padding: 0.1em 0.5em;
  font-weight: 300;
}

#girl-view h6 {
  margin-bottom: .5em;
}

#girl-view .ui-tabs-panel {
  padding: .5em;
}

#girl-view li.ui-tabs-active {
  padding-bottom: 0;
  margin-bottom: 0;
}

#morning {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

#evening {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#girl-view .action.disabled {
  background: url("../../libraries/images/ui-bg_glass_20_555555_1x400.png") repeat-x scroll 50% 50% #555555;
  cursor: default;
  border: 1px solid #666666;
  opacity: 0.5;
}

#girl-view .selected {
  background: url("../../libraries/images/ui-bg_glass_40_0078a3_1x400.png") repeat-x scroll 50% 50% #0078A3;
  border-color: #59B4D4;
  color: #FFFFFF;
}
