h3 {
  margin: 0;
}

.no-cursor {
  cursor: default;
}

.happiness {
  color: #6AF;
  font-weight: 700;
}
.endurance {
  color: #A6F;
  font-weight: 700;
}
.obedience { color: #FF0; }
.modesty { color: #C0FF00; }
.charisma { color: #4F0; }
.constitution { color: #0FC; }
.intelligence { color: #0DF; }

.soft { color: #FAA; }
.hard { color: #F66; }
.anal { color: #D33; }
.fetish { color: #C04; }

.experience { font-style: italic; }

span.adj {
  color: #FFF;
  font-style: italic;
  font-weight: 300;
}

.delta {
  font-size: 0.7em;
}

.money.delta {
  font-weight: 300;
}

#girl-view label {
  margin-left: 1em;
  width: 6em;
}

#girl-view label.checkbox {
  margin-left: 0;
}

#girl-view .middle label span {
  color: #FFF;
}

#pay label {
  margin-top: 1em;
  width: 2.5em;
}

#pay input {
  width: 2.5em;
}

#pay .delta {
  margin-left: 1em;
}

#girl-view {
  width: 35em;
  overflow: visible;
}

#hire-girls label {
  width: 4em;
}

#hire-girls button {
  display: block;
  margin: 1em auto;
}

#girl-view button {
  margin: .5em;
}
#girl-view .ui-tabs-nav {
  border: none;
  border-radius: 0;
}

#girl-view .ui-tabs-nav a {
  padding: 0.1em 0.5em;
  font-weight: 300;
}

#girl-view h6 {
  margin-bottom: .5em;
}

#girl-view .ui-tabs-panel {
  padding: .5em;
}

#girl-view li.ui-tabs-active {
  padding-bottom: 0;
  margin-bottom: 0;
}

.ui-dialog {
  overflow: visible;
}

#morning, #evening {
  display: inline-block;
  position: relative;
}
