h3 {
  margin: 0;
}

.no-cursor {
  cursor: default;
}

.happiness {
  color: #6AF;
  font-weight: 700;
}
.endurance {
  color: #A6F;
  font-weight: 700;
}
.obedience { color: #FF0; }
.modesty { color: #C0FF00; }
.charisma { color: #4F0; }
.constitution { color: #0FC; }
.intelligence { color: #0DF; }

.softLibido, .softExperience { color: #FAA; }
.hardLibido, .hardExperience { color: #F66; }
.analLibido, .analExperience { color: #D33; }
.fetishLibido, .fetishExperience { color: #C04; }

.softExperience, .hardExperience, .analExperience, .fetishExperience { font-style: italic; }

span.adj {
  color: #FFF;
  font-style: italic;
  font-weight: 300;
}

.delta {
  font-size: 0.7em;
}

.money.delta {
  font-weight: 300;
}

.girl-view label {
  margin-left: 1em;
  width: 6em;
}

.girl-view label.checkbox {
  margin-left: 0;
}

.girl-view .middle label span {
  color: #FFF;
}

.pay label {
  margin-top: 1em;
  width: 3em;
}

.pay .slider {
  display: inline-block;
  height: 0.3em;
  margin-bottom: 0.3em;
  width: 7em;
}

.pay .slider .ui-slider-handle {
  top: -0.5em;
  width: 0.7em;
}

.pay-results {
  margin-lefT: 3.5em;
}

.pay .delta {
  margin-left: 1em;
}

.girl-view {
  width: 35em;
  overflow: visible;
}

#hire-girls label {
  width: 5em;
}

#hire-girls button {
  display: block;
  margin: 1em auto;
}

#hire-girls .girl {
  width: 30em;
}

#hire-girls .ui-tabs-panel > div:first-child {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}
