<div id="girl-view" name="<%= girl.name %>" class="ui-helper-clearfix">
  <div class="column pct-30 left">
    <img src="<%= girl.image("base") %>" title="<%= girl._.description %>">
  </div>
  <div class="column pct-70">
    <div class="column pct-50 middle">
      <div><label>Endurance</label><%- girl.S("endurance") %></div>
      <div><label>Happiness</label><%- girl.S("happiness") %></div>
      <div><label>Obedience</label><%- girl.S("obedience") %></div>
      <div><label>Charisma</label><%- girl.S("charisma") %></div>
      <div><label>Intelligence</label><%- girl.S("intelligence") %></div>
      <div><label>Constitution</label><%- girl.S("constitution") %></div>
      <div id="pay">
        <label>Pay</label>
        <input value="$<%= girl.actions.pay %>">
        <span class="delta happiness"></span>
      </div>
    </div>
    <div class="column pct-50 right">
      <div class="checkbox">
        <label for="soft" class="<%- girl.actions.soft ? 'checked' : '' %>">Softcore</label>
        <input id="soft" type="checkbox" <%- girl.actions.soft ? 'checked="checked"' : '' %>>
      </div>
      <div><label>Libido:</label><span class="soft libido"><%- girl.S("soft libido") %></span></div>
      <div><label>Experience:</label><span class="soft experience"><%- girl.S("soft experience") %></span></div>
      <div class="checkbox">
        <label for="hard" class="<%- girl.actions.hard ? 'checked' : '' %>">Hardcore</label>
        <input id="hard" type="checkbox" <%- girl.actions.hard ? 'checked="checked"' : '' %>>
      </div>
      <div><label>Libido:</label><span class="hard libido"><%- girl.S("hard libido") %></span></div>
      <div><label>Experience:</label><span class="hard experience"><%- girl.S("hard experience") %></span></div>
      <div class="checkbox">
        <label for="anal" class="<%- girl.actions.anal ? 'checked' : '' %>">Anal</label>
        <input id="anal" type="checkbox" <%- girl.actions.anal ? 'checked="checked"' : '' %>>
      </div>
      <div><label>Libido:</label><span class="anal libido"><%- girl.S("anal libido") %></span></div>
      <div><label>Experience:</label><span class="anal experience"><%- girl.S("anal experience") %></span></div>
      <div class="checkbox">
        <label for="fetish" class="<%- girl.actions.fetish ? 'checked' : '' %>">Fetish</label>
        <input id="fetish" type="checkbox" <%- girl.actions.fetish ? 'checked="checked"' : '' %>>
      </div>
      <div><label>Libido:</label><span class="fetish libido"><%- girl.S("fetish libido") %></span></div>
      <div><label>Experience:</label><span class="fetish experience"><%- girl.S("fetish experience") %></span></div>
    </div>
  </div>
  <hr class="clear">
  <div class="column pct-50">
    <h6 class="center">Morning</h6>
    <div class="horizontal-tabs" id="morning">
      <ul>
        <% var i = 0; %>
        <% for (var key in morningActions.sortToObject('group')) { %>
          <li><a href="#action-tab-<%= i %>"><%= key %></a></li>
          <% i++ %>
        <% } %>
      </ul>
      <% i = 0; %>
      <% $.each(morningActions.sortToObject('group'), function(key, actions) { %>
        <div id="action-tab-<%= i %>">
          <% actions.forEach(function(action) { %>
            <button class="action <%= girl.actions.morning == action._id ? 'selected' : '' %> <%= action.disabled ? 'disabled' : '' %>" title="<%= action.description %>" value="<%= action._id %>">
              <%= action.label %>
            </button>
          <% }) %>
        </div>
        <% i++ %>
      <% }) %>
    </div>
  </div>
  <div class="column pct-50">
    <h6 class="center">Evening</h6>
    <div class="horizontal-tabs" id="evening">
      <ul>
        <% var i = 100; %>
        <% for (var key in eveningActions.sortToObject('group')) { %>
          <li><a href="#action-tab-<%= i %>"><%= key %></a></li>
          <% i++ %>
        <% } %>
      </ul>
      <% i = 100; %>
      <% $.each(eveningActions.sortToObject('group'), function(key, actions) { %>
        <div id="action-tab-<%= i %>">
          <% actions.forEach(function(action) { %>
            <button class="action <%= girl.actions.evening == action._id ? 'selected' : '' %>" title="<%= action.description %>" value="<%= action._id %>" <%= action.disabled ? 'disabled' : '' %>>
              <%= action.label %>
            </button>
          <% }) %>
        </div>
        <% i++ %>
      <% }) %>
    </div>
  </div>
</div>