#mission-list .ui-tabs-nav li {
  width: 10em;
}

#mission-list .ui-tabs-panel {
  margin-left: 10em;
}

#mission-list .days {
  font-weight: 700;
}

.mission .top {
  margin-bottom: 1em;
}

.mission img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 18em;
}