<div class="ui-helper-clearfix first">
  <div id="top-left" class="column pct-50 center">
    <h2>Day <%= g.day %></h2>
    <div>
      Cash on hand:
      <strong class="money">$<%= g.money %></strong>
    </div>
    <div>
      Payment of
      <strong class="money">$<%= g.nextPayment().amount %></strong>
      due on day
      <span class="days"><%= g.nextPayment().day %></span>
    </div>
    <div>
      <span class="days"><%= gameLength - g.day %> days</span>
      to end of debt
    </div>
  </div>
  <div id="top-right" class="column pct-50 center">
    <button id="next" class="big">Next Turn</button>
  </div>
</div>
<hr>
<div class="ui-helper-clearfix second"></div>