<div class="vertical-tabs navigable" id="mission-list">
  <ul>
    <% var i = 0 %>
    <% for (var _id in missions) { %>
      <% i++ %>
      <li>
        <a href="#mission-tab-<%= i %>"><%= missions[_id].name %></a>
      </li>
    <% } %>
  </ul>
  <% i = 0 %>
  <% $.each(missions, function(_id, mission) { %>
    <% i++ %>
    <div id="mission-tab-<%= i %>" class="mission ui-helper-clearfix">
      <% if (mission.end.day) { %>
        <div>Time Remaining: <strong><%= mission.end.day - g.day %> days</strong></div>
      <% } %>
      <img src="<%= mission.image %>">
      <div>
        <%- mission.description %>
      </div>
    </div>
  <% }) %>
</div>