.building .middle > div {
  margin-left: 1em;
}

.building .middle label {
  width: 6em;
}

.building .middle .room {
  margin-left: 2em;
}

.building .right label {
  margin-left: 1em;
  width: 4em;
}

#manage-buildings button {
  display: block;
  margin: 1em auto;
}

#buildings .building {
  margin-left: 3em;
}

.clean {
  color: #44CCFF;
}
.reputation {
  color: #CC00CC;
  font-weight: 700;
}

#building-view .middle label {
  margin-left: 1em;
  width: 6em;
}

#building-view .middle #daily-label {
  width: 3em;
}

.daily-delta {
  display: inline-block;
  vertical-align: middle;
  width: 6em;
}

#manage-buildings .daily-delta {
  width: 3em;
}

#rooms { clear: both; }
#rooms .room {
  border: 1px solid #999999;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: 8em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  width: 9em;
}

.room p {
  font-size: .8em;
}