<div id="building-view" name="<%= building.name %>" class="ui-helper-clearfix">
  <div class="column pct-30 left">
    <img src="<%= building._.image %>" title="<%= building._.description %>">
  </div>
  <div class="column pct-70">
    <div class="column pct-50 middle">
      <div><label>Clean:</label><%- building.S("clean") %></div>
      <div><label>Rooms:</label><%- building.S("rooms") %></div>
      <div>
        <label>Daily:</label>
        <div class="daily-delta"><% $.each(building.dailyDelta(), function(stat, value) {
          var text;
          if (stat == 'money') {
            text = value < 0 ? '-$' + (-value) : '+$' + value;
          } else {
            text = value < 0 ? '' + value : '+' + value;
          } %>
          <span class="delta <%= stat %>"><%= text.substr(0, 5) %></span>
        <% }) %></div>
      </div>
    </div>
    <div class="column pct-50 right center">
      <% if (building.rooms.length < building._.maxRooms && !$.isEmptyObject(availableRooms)) { %>
        <select id='new-room'>
          <% $.each(availableRooms, function(name, room) { %>
            <option value="<%= name %>" title="<%= room.description %>">$<%= room.price %> - <%= name.capitalize() %></option>
          <% }) %>
        </select>
        <button id="buy-room">Add Room</button>
      <% } %>
    </div>
    <div id="rooms" class="ui-helper-clearfix">
    </div>
  </div>
</div>