<div class="column pct-50" id="girls">
  <% if (girls.length < g.maxGirls) { %>
    <h3 class="center">
      <a id="hire-girl">Hire Girl</a>
    </h3>
  <% } %>
  <% girls.forEach(function(girl) { %>
    <div class="ui-helper-clearfix no-cursor girl" name="<%= girl.name %>">
      <div class="column pct-20">
        <img src="<%= girl.image('base') %>">
      </div>
      <div class="column pct-40 center">
        <h6><%= girl.name %></h6>
        <div><%- girl.S("endurance") %> | <%- girl.S("happiness") %></div>
        <div>
          <%- girl.S("obedience") %> | <%- girl.S("charisma") %> |
          <%- girl.S("intelligence") %> | <%- girl.S("constitution") %>
        </div>
      </div>
      <div class="column pct-40">
        <div>Morning: <strong><%= girl.actions.morningLabel %></strong></div>
        <div>Evening: <strong><%= girl.actions.eveningLabel %></strong></div>
      </div>
    </div>
  <% }) %>
</div>