.action-list {
  width: 35em;
}

.action-list td {
  border: none;
}

.action-list img {
  visibility: inherit;
}

.group > label {
  font-weight: 700;
  margin: 0;
  width: auto;
}

.action {
  border: 1px solid #999;
  border-radius: 6px;
  float: left;
  height: 6em;
  margin: 0.4em 0.2em;
  position: relative;
  text-align: center;
  width: 5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.action.disabled {
  opacity: 0.6;
}

.action label span {
  font-size: 0.65em;
}

.action ul {
  list-style: none;
  height: 4.8em;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.action li.this {
  height: 4em;
  position: relative;
  width: 5em;
  z-index: 1;
}

.action li.other {
  opacity: .6;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
}

.others-1 .other:nth-child(1) {
  left: 1.25em;
  top: 1.25em;
}

.others-2 .other:nth-child(1) {
  left: 0;
  top: 1.25em;
}
.others-2 .other:nth-child(2) {
  left: 2.5em;
  top: 1.25em;
}

.others-3 .other:nth-child(1) {
  left: 1.25em;
  top: 0;
}
.others-3 .other:nth-child(2) {
  left: 0;
  top: 2.5em;
}
.others-3 .other:nth-child(3) {
  left: 2.5em;
  top: 2.5em;
}

.others-4 .other:nth-child(1) {
  left: 0;
  top: 0;
}
.others-4 .other:nth-child(2) {
  left: 2.5em;
  top: 0em;
}
.others-4 .other:nth-child(3) {
  left: 0em;
  top: 2.5em;
}
.others-4 .other:nth-child(4) {
  left: 2.5em;
  top: 2.5em;
}

.action span.options:after {
  content: ' ▼';
  color: #0078A3;
}
